.telefono {
    width: 100%;
   
  }
  .contacto {
    padding-top: 50px;
  }
  
  .contacto button {
    color:white;
    font-weight: bold;
    background-color: #008ad3;
    border: transparent;
   
    
  }
   .contacto button i{
    color: white;
    font-size: 1.3rem;
    
   }