h1 {
    font-size: 30px;
}

.descripcion {
    text-align: center;
    font-size: 16px;
}

main {
    h3 {
        width: 100%;
        font-size: 25px;
        color: black;
        text-align: center;
        padding: 15px;
    }

    .higiene {
        padding: 15px;
    }

    .cepillo {
        width: 100%;
        
    }

    .img-unas {
        width: 100%;
    }

    .img-arena {
        width: 100%;
    }

    .img-bano{
        width: 100%;
    }
    .row{
        padding:15px;
        
        
    }
    
    }

